.container {
display: flex;
    align-items: center;
    justify-content: center;
}

.border {
  border-style: solid;
  border-width: 5px;
  border-color: white;
  display: flex;

}


.sidebar {
  border: solid;
  flex: 1;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 3;
  background-color: #b9c6ae;
  
  
}

.home {
  border: solid;
  flex-grow: 1;
 
}

.away {
  flex-grow: 1;
  border: solid;
}

@media screen and (max-width: 768px) {

  .border {
    flex-direction: column;
  }
  /* Make the sidebar stack below the body */
  

}